# NumPy Review Challenge

To review some basic concepts, attempt to perform these basic NumPy tasks on your own and then watch the walkthrough video to check your solutions.

Once your assignment is complete and you have watched the solution video to check your answers, make sure that you save it as `numpy_review` and upload it to CodeGrade to get credit for your work.

Import numpy as np and check your version.

In [236]:
import numpy as np
print(np.__version__)

1.26.4

**Q1:** Create a 1D array of numbers from `0` to `9` and save it as `Q1`.

In [238]:
Q1 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**Q2:** Create a 1D array of numbers from `10` to `49` and save it as `Q2`.

In [240]:
Q2 = np.arange(10, 50)

**Q3:** Copy the `Q2` array and save it as `Q3`.  Reverse the values in the `Q3` array (first element becomes the last, last becomes the first, etc).

In [242]:
# make a copy of the previous array to prevent a "view" from being created
Q3 = Q2.copy()

### ENTER CODE HERE ###
Q3 = Q3[::-1]

**Q4:** Create a `3x3` matrix with values ranging from `1` to `9` and save it as `Q4`.

In [244]:
Q4=np.arange(1, 10).reshape(3,3)

**Q5:** Using the [Random Generator](https://numpy.org/doc/stable/reference/random/generator.html#numpy.random.Generator), set a random seed of `42`. Create a `10x5` array with random values and save it as `Q5`.  Use `random` as shown in the example in the documentation linked above.  This may be new for some of you, but the documentation does a good job of explaining it. As a check, your first row of the array should be: `[0.77395605, 0.43887844, 0.85859792, 0.69736803, 0.09417735]`

In [246]:
#Q5
rng = np.random.default_rng(seed=42) 

### ENTER CODE HERE ###
Q5 = rng.random((10,5))

**Q6:** Find the minimum and maximum values of above `Q5` array, rounding them to 4 decimal places.  Call the values `Q6A` and `Q6B` respectively.

In [248]:
### ENTER CODE HERE ###
Q6A=round(Q5.min(), 4)

In [249]:
### ENTER CODE HERE ###
Q6B=round(Q5.max(), 4)

**Q7:** Find the mean value for the above `Q5` array, rounding to 4 decimal places.  Call this value `Q7`.

In [251]:
### ENTER CODE HERE ###
Q7 = round(Q5.mean(), 4)

**Q8:** Select all even numbers from the following array and call this output `Q8`.
```python
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [253]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
Q8 = arr[arr%2 ==0]
### ENTER CODE HERE ###

**Q9:** Make a copy of the `arr` array and call it `Q9`.  Replace all even numbers from `Q9` with `0`.

In [255]:
Q9 = arr.copy()

### ENTER CODE HERE ###
Q9 [Q9 % 2 ==0]=0

**Q10:** Use the [where](https://numpy.org/doc/stable/reference/generated/numpy.where.html) method to replace all odd numbers from the above `Q9` array with a `-1` and call it `Q10`.

In [257]:
### ENTER CODE HERE ###
Q10 = np.where(Q9 % 2 != 0, -1, Q9)

**Q11** Reshape the above `arr` array to a `2x5` array and call it `Q11`.

In [259]:
### ENTER CODE HERE ###
Q11 = arr.reshape(2,5)

**Q12:** Stack `arr1` and `arr2` (both given below) vertically and call this array `Q12`.

In [261]:
arr1 = np.arange(10).reshape((2,5))
arr2 = np.arange(10,20).reshape((2,5))

### ENTER CODE HERE ###

Q12 = np.vstack((arr1, arr2))

**Q13:** Stack `arr1` and `arr2` horizontally and call this array `Q13`.

In [263]:
### ENTER CODE HERE ###

Q13 = np.hstack((arr1, arr2))

**Q14:** Swap the first and second columns in the following array called `arr3` and save it as `Q14`.

In [265]:
arr3 = np.array([22,56,34,54,12,42,67,56,99]).reshape((3,3))
arr3

array([[22, 56, 34],
       [54, 12, 42],
       [67, 56, 99]])

In [266]:
### ENTER CODE HERE ###
Q14 = arr3[:, [1, 0, 2]]

**Q15:** Swap the first row and the second row in the above `Q14` array and call it `Q15`.

In [268]:
### ENTER CODE HERE ###
Q15 = Q14[[1, 0, 2], :]

**Q16:** Next, reverse the columns of the above `Q15` array and call it `Q16`.

In [270]:
### ENTER CODE HERE ###
Q16 = Q15[:, ::-1]

**Q17:** Sort each row of the above `Q16` array from least to greatest and call it `Q17`.

In [272]:
### ENTER CODE HERE ###
Q17 = np.sort(Q16, axis = 1)

**Q18:** Sort each column of the above `Q17` array from the least to the greatest and call it `Q18`.

In [274]:
### ENTER CODE HERE ###
Q18 = np.sort(Q17, axis = 0)

**Q19:** Create a `1D` array called `Q19` of `100` values that range evenly between `[1 - 200]`.

In [276]:
### ENTER CODE HERE ###
Q19 = np.linspace(1, 200, 100)

**Q20:** Reshape `Q19` to a `25x4` array and call it `Q20`.

In [278]:
### ENTER CODE HERE ###
Q20 = Q19.reshape(25, 4)

**Q21:** Index the first row of `Q20` and save this as `Q21`.

In [280]:
### ENTER CODE HERE ###
Q21 = Q20[0]

**Q22:** Index the second column of `Q20` and save this as `Q22`.

In [282]:
### ENTER CODE HERE ###
Q22 = Q20[: , 1]

**Q23:** Index every other row of `Q20` starting from the first and save this as `Q23`.

In [284]:
### ENTER CODE HERE ###
Q23 = Q20 [::2]

**Q24**: Add `1` to every element in `Q20` and call the new array `Q24`.

In [286]:
### ENTER CODE HERE ###
Q24 = Q20 +1

**Q25:** 
- Make a copy of the `Q24` array and call it `Q25`.  
- Select the first value in the first 5 rows in `Q25` and call this slice `arr_slice`.
- Update the second value in `arr_slice` to `42`. Before you check the results, will this update `Q25` or will it remain unchanged?

In [288]:
### ENTER CODE HERE ###
Q25 = np.copy(Q24)
arr_slice=Q25[:5, 0]
arr_slice[1]= 42

Good work!