# Pandas Review Challenge

To review some basic concepts, attempt to perform these basic Pandas tasks on your own and then watch the walkthrough video to check your solutions.

Once your assignment is complete and you have watched the solution video to check your answers, make sure that you save it as `pandas_review` and upload it to CodeGrade to get credit for your work.

Import `numpy as np`, `pandas as pd`, and check your pandas version.

In [224]:
import numpy as np 
import pandas as pd
print(pd.__version__) # your version may be different

# set display columns - Do not change or CodeGrade may not function correctly
pd.set_option('display.max_columns', None)

2.2.2

## Series

**Q1:** Create a Pandas Series object called `Q1` from the following `arr` array.

In [227]:
arr = np.array([4,8,-3,1])
Q1 = pd.Series(arr)
### ENTER CODE HERE ###

**Q2:** Create a Pandas Series object called `Q2` from the above `arr` array with an index of `a`, `b`, `c`, `d`.

In [229]:
### ENTER CODE HERE ###

Q2 = pd.Series(arr, index=['a', 'b', 'c', 'd'])

**Q3:** Index the `c` instance for the `Q2` Series and save it as `Q3`.

In [231]:
### ENTER CODE HERE ###
Q3 = Q2['c']

**Q4:**  Make a copy of the `Q2` Series and call it `Q4`. Change the `c` instance in `Q4` to `0`.

In [233]:
Q4 = Q2.copy()

### ENTER CODE HERE ###
Q4['c'] = 0

**Q5:** Filter all instances in `Q4` that are greater than `2` and save this as `Q5`.

In [235]:
### ENTER CODE HERE ###
Q5 = Q4[Q4>2]

**Q6:** Using a Python dictionary, create the following as a Series called `Q6` using the state as the index.
```
 Wyoming      581000
 Vermont      623000
 DC           714000
 Alaska       724000
 North Dakota 770000
```

In [237]:
states = {'Wyoming': 581000,'Vermont': 623000,'DC': 714000,
          'Alaska': 724000,'North Dakota': 770000}

### ENTER CODE HERE ###
Q6 = pd.Series(states)

# DataFrame

**Q7:** Using the below Python dictionary, create a DataFrame called `Q7`.

In [240]:
data = {'book':['The Way of Kings','A Game of Thrones','The Hobbit',
                "Harry Potter and the Sorcerer's Stone",'The Lion, the Witch, and the Wardrobe'],
        'year_published': [2010,1996,1937,1997,1950],
        'amazon_rating': [5,4.5,5,5,5]}
    
### ENTER CODE HERE ###
Q7 = pd.DataFrame(data)

**Q8:** Make a copy of the `Q7` DataFrame and call it `Q8`.  Add a fourth column called `copies_owned` and assign an integer value of `1` to every row.

In [242]:
Q8 = Q7.copy()

### ENTER CODE HERE ###

Q8['copies_owned']=1

**Q9:** Make a copy of `Q8` and call it `Q9`. Remove the fourth column called `copies_owned` from the `Q9` DataFrame.

In [244]:
Q9 = Q8.copy()

### ENTER CODE HERE ###
Q9 = Q8.drop(columns='copies_owned')

**Q10:** Create a DataFrame called `Q10` using the below nested dictionary of dictionaries. (Note: outer keys are interpreted as columns, inner keys as row indices)

In [246]:
pop = {'Nevada':{2001: 2.4, 2002: 2.9},
       'Ohio': {2000:1.5, 2001: 1.7, 2002: 3.6}}

### ENTER CODE HERE ###
Q10=pd.DataFrame(pop)

**Q11:** Swap the columns and rows of `Q10` by using the transpose method `.T` and save this as `Q11`.

In [248]:
### ENTER CODE HERE ###
Q11 = Q10.T

**Q12:** Change the columns in the `Q11` DataFrame to be in year order (earlier to later) and save this as `Q12`.

In [250]:
### ENTER CODE HERE ###
Q12=Q11[[2000, 2001, 2002]]

**Q13:** Index only `Nevada` in the `Q12` DataFrame and save this as `Q13`.

In [252]:
### ENTER CODE HERE ###
Q13 = Q12.loc['Nevada']

**Q14:** Select the `2001` column from the `Q12` DataFrame and save this as `Q14`.

In [254]:
### ENTER CODE HERE ###
Q14 = Q12[2001]

**Q15:**  Select the `Ohio` row and the `2001` and `2002` columns from `Q12` and save this as `Q15`.

In [256]:
### ENTER CODE HERE ###
Q15 = Q12.loc['Ohio', [2001, 2002]]

**Q16:** Run the code below to create a DataFrame called `employees`. Filter only the employees that make above $90,000 and save this as `Q16`.

In [258]:
table =  {'name': ['John', 'Jane', 'Billy', 'Tracy'],
         'age': [25, 27, 42, 31],
          'gender': ['M','F','M','F'],
         'profession': ['Developer', 'Analyst', 'Admin', 'Data Scientist'],
         'salary':[100000, 80000, 75000, 110000]
         }

employees = pd.DataFrame(table)
employees

    name  age gender      profession  salary
0   John   25      M       Developer  100000
1   Jane   27      F         Analyst   80000
2  Billy   42      M           Admin   75000
3  Tracy   31      F  Data Scientist  110000

In [259]:
### ENTER CODE HERE ###
Q16 = employees[employees['salary']>90000]

**Q17:** Select only the names of the employees that make under $90,000 and save this as `Q17`.  Note: This should end up as a Series for CodeGrade to mark it correctly.

In [308]:
### ENTER CODE HERE ###
Q17 = employees.loc[employees['salary']< 90000, 'name']

**Q18:** Select only the names of the employees that make under $90,000 and are over 30 years old.  Save this as `Q18`.

In [263]:
### ENTER CODE HERE ###

Q18 = employees.loc[(employees['salary'] < 90000) & (employees['age'] > 30), 'name']

**Q19:** Our company has grown, and we have hired three new employees. Create a new DataFrame called `Q19` that adds these employees (`new_hires`) to the original DataFrame `employees`. Make sure that the index for the new DataFrame is labeled as `0` - `n-1`.

In [265]:
new_hires = {'name': ['Emily','Lukas','Janelle'],
            'age': [22, np.nan, 52],
             'gender': ['F','M','F'],
            'profession': ['Project Manager','ML Engineer','CIO'],
            'salary': [np.nan,135000,230000]}

new_hiresdf = pd.DataFrame(new_hires)

### ENTER CODE HERE ###
Q19 = pd.concat([employees, new_hiresdf], ignore_index=True)

**Q20:** Make a copy of the `Q19` DataFrame and save it as `Q20`.  Add a new column called `departments` to the `Q20` DataFrame using the list below.

In [267]:
departments = ['IT','IT','Administration','IT','Communications','IT','Executive']

Q20 = Q19.copy()

### ENTER CODE HERE ###

Q20['departments'] = departments

**Q21:** Make a copy of the `Q20` DataFrame and save it as `Q21`.  You heard back from HR that Emily's salary should equal the employee with the lowest salary. Fill this missing value in `Q21` with the minimum salary (use `fillna()` and `min()` instead of hard coding the salary).

In [269]:
Q21 = Q20.copy()

### ENTER CODE HERE ###
Q21['salary'] = Q21['salary'].fillna(Q21['salary'].min())

**Q22:** Make a copy of `Q21` and save it as `Q22`.  Add Lukas' age of `54` to the `Q22` DataFrame.

In [271]:
Q22 = Q21.copy()

### ENTER CODE HERE ###

Q22.loc[Q22['name'] == 'Lukas', 'age'] = 54

**Q23:** Sort the `Q22` DataFrame by the `age` column from youngest to oldest employee and save this as `Q23`.

In [273]:
### ENTER CODE HERE ###

Q23 = Q22.sort_values(by='age', ascending=True)

**Q24:** Using `value_counts()`, how many employees in the `Q23` DataFrame does each department have?  Save this as `Q24`.

In [275]:
### ENTER CODE HERE ###
Q24 = Q23['departments'].value_counts()

**Q25:** Make a copy of the `Q23` DataFrame and save it as `Q25`.  Rename the `name` column in `Q25` to `employee_name`.

In [277]:
Q25 = Q23.copy()

### ENTER CODE HERE ###
Q25 = Q25.rename(columns = {'name': 'employee_name'})

Good work!